.about {
  display: grid;
  grid-template-columns: minmax(500px, auto) auto;
  background-color: black;
  border-bottom: 50px solid black;
  border-top: 50px solid black;
}

.about .left {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 2em;
  width: 100%;
}

.about .right {
  background-color: black;
  color: white;
  border-left: 40px solid blue;
  padding: 2em;
}

.about .bio {
  max-width: 800px;
  /* min-width: 500px; */
  line-height: 2;
  margin-bottom: 1em;
}

.about .skills-lists {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.about .skills-lists h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline 2px solid red;
  text-underline-offset: 3px;
}

.about .skills li {
  color: yellow;
  font-weight: 700;
  margin-top: 1em;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1000x) {
  .about .right {
    padding-right: 500px;
  }
}

@media only screen and (max-width: 1000px) {
  .about {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }

  .about .left {
    background-size: cover;
    padding-top: 1em;
  }

  .about .left img {
    max-width: 100%;
  }

  .about .right {
    border-left: 20px solid blue;
  }
}
