.projects {
  padding: calc(3em + 40px) 3em;
}

.projects h2 {
  font-size: 3rem;
  text-decoration: underline 5px solid red;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .projects {
    padding: 1em;
  }

  .projects h2 {
    margin-top: 0.25em;
  }
}
