.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

.hero .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1em;
  width: 100%;
}

.hero .left h2 {
  font-size: 10em;
}

.hero .left .down-arrow {
  position: absolute;
  color: yellow;
  bottom: 30px;
  font-size: 3rem;
}

@media only screen and (max-width: 1200px) {
  .hero .left h2 {
    font-size: 6em;
  }
}

@media only screen and (max-width: 800px) {
  .hero .left h2 {
    font-size: 5em;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .hero .left h2 {
    font-size: 4.5em;
    padding: 0;
  }
}
