.mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 2em;
  width: 100vw;
  position: sticky;
  z-index: 99;
  background-color: red;
  padding: 3px 1em;
  box-sizing: border-box;
}

.test-div {
  width: 100%;
  background-color: red;
}
