.post-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.post-wrapper {
  box-sizing: border-box;
  width: clamp(200px, 100%, 70em);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgb(228, 228, 228);
}

.post-wrapper h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0.25em;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  white-space: pre-wrap;
}

.posted-date {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(138, 138, 138);
}

@media only screen and (max-width: 768px) {
  .post-main {
    padding: 1em 0;
  }

  .post-wrapper {
    padding: 1em;
  }
}
