.mobile-sidebar {
  background-color: black;
  position: fixed;
  height: calc(100vh - 40px);
  bottom: 0;
  width: 250px;
  left: -250px;
  transition: left 0.5s;
  z-index: 100;
  overflow-y: autod;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  padding: 2em;
  box-sizing: border-box;
}

.out {
  left: 0;
}

.mobile-sidebar .upper ul {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.3em;
  color: white;
}

.mobile-sidebar .upper a {
  font-size: 1.8rem;
}

.mobile-sidebar a {
  color: white;
  text-decoration: none;
}

.mobile-footer h3 {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
}

.mobile-footer ul {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
