.hero-nav {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 40px solid red;
}

.hero-nav a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.hero-nav button,
.hero-nav a {
  position: relative;
  padding: 0.75em 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  margin: 1em 0.8em;
  font-weight: 700;
}

.hero-nav button {
  min-width: 250px;
}

.hero-nav a {
  min-width: 188px;
}

.hero-nav button::after,
.hero-nav button::before,
.hero-nav a::after,
.hero-nav a::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.hero-nav button::after,
.hero-nav a::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom: 10px solid blue;
  border-right: 10px solid blue;
}

.hero-nav button::before,
.hero-nav a:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top: 10px solid blue;
  border-left: 10px solid blue;
}

.hero-nav button:hover:before,
.hero-nav button:hover:after,
.hero-nav a:hover:before,
.hero-nav a:hover:after {
  border-bottom: 10px solid red;
  border-right: 10px solid red;
  border-top: 10px solid red;
  border-left: 10px solid red;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .hero-nav button {
    font-size: 2em;
  }
}
